.head-product-container {
  background-image: url(/img/room/stue1.jpg);
  background-size: cover;
  background-position: center;
  height: 45rem;
  border-bottom: 4px solid var(--gold);
  border-right: 4px solid var(--gold);
  border-left: 4px solid var(--gold);
  filter: contrast(110%);
}

.display-4 {
  color: var(--mainblue);
  text-transform: uppercase;
  text-align: center;
  font-weight: 500 !important;
  font-size: 2.8rem !important;
  margin-right: 15rem;
}

.lead {
  color: rgb(17, 17, 17);
  font-weight: 500 !important;
  margin-top: 1rem;
  margin-right: 10rem;
}

.jumbotron {
  background: unset !important;
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
}

.product-container {
  background: var(--white);
  border: solid 4px var(--gold);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 29rem;
  position: relative;
  margin: 0rem 1rem 0rem 1rem;
}

.product-img {
  height: 100%;
  width: 70%;
  object-fit: cover;
}

.icon-containter {
  position: absolute;
  top: 10px;
  right: 10px;
}

.icon-containter img {
  width: 3.5rem;
  margin-right: 0.5rem;
  cursor: pointer;
}

.info-container {
  background: var(--white);
  height: 10rem;
  margin: 0rem 1rem 1rem 1rem;
}

.info-container h2 {
  margin-top: 2rem;
  text-align: center;
  color: var(--mainblue);
  font-weight: 600;
  font-size: 36px;
}

.info-container p {
  text-align: center;
  color: rgb(17, 17, 17);
  font-weight: 400;
  font-size: 18px;
}

.info-container span {
  color: var(--mainblue);
  font-size: 24px;
  font-weight: 600;
  display: table;
  margin: auto;
}

.light {
  margin-top: 4rem;
}

.lamp {
  margin-top: 4rem;
}

@media only screen and (max-width: 768px) {
  .jumbotron {
    align-items: center;
  }

  .display-4 {
    margin: 0;
    margin-top: 3rem;
    width: 60%;
    font-size: 36px !important;
  }

  .lead {
    margin: 0;
    width: 60%;
    font-size: 18px !important;
    margin-top: 1rem;
    text-align: center;
  }
}
