/* CAROUSEL */
.carousel-inner {
  height: 650px;
  border-bottom: 4px solid var(--gold);
}

.carousel-item {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/*  Shop by room */

.room {
  height: 100%;
  position: relative;
  padding-top: 2rem;
}

.img-container {
  background-position: center;
  background-size: cover;
  position: relative;
  transition: 250ms;

  cursor: pointer;
  margin-bottom: 2rem;
  padding: 0;
  border: 4px solid var(--gold);
}

.img-container:hover {
  transform: scale(1.03);
}

.img-container h1 {
  position: absolute;
  color: rgb(17, 17, 17);
  font-size: 36px;
  font-weight: 700;
  top: 125px;
  left: 130px;
}

.img-container h2 {
  position: absolute;
  color: rgb(17, 17, 17);
  font-size: 24px;
  font-weight: 700;
  top: 160px;
  left: 260px;
}
